@charset "EUC-KR";

/* body {
  color : #333;
  background-Color: rgb(255, 255, 255)joWhite; Floralwhite;
 
 
 
 http://ielselog.blogspot.com/2013/10/css-color-keywords.html 
} */



fieldset {
    
    background-Color: White;
  
  
}

label {  
  
/* 로그인 구역 폰트만 변경.  */
  font-size: 30px;
} 


/* 

h2 {
	
	background-color : Peru;ForestGreen;
	height : 50px;  높이값 추가. 초록색 영역이 늘어난다. 
    color : Black;
}
 */



/*https://somgle.tistory.com/123 css 색모음. 11-26  */





