@charset "EUC-KR";

/* body {
  color : #333;
  background-Color: rgb(255, 255, 255)joWhite; Floralwhite;
 
 
 
 http://ielselog.blogspot.com/2013/10/css-color-keywords.html 
} */


div {
  
   background-Color: black;
    font-size: 35px;
  
  
  
}

    
   









/*https://somgle.tistory.com/123 css 색모음. 11-26  */





